<meteor-include src="topbar"></meteor-include>
<div class="row">
  <div class="large-6 columns large-centered">
    <h2>Request password reset</h2>
    <form>
      <input type="password" placeholder="New Password" ng-model="pass" />
      <button class="button expand" ng-click="resetpassword()">Reset Password</button>
    </form>
    <div data-alert class="alert-box" ng-class="alertclass" ng-show="showalert">
      <p>{{message}}</p>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<meteor-include src="footer"></meteor-include>
