<template name="topbar">
  <div class="sticky" ng-controller="topbarcntroller">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Site name</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="/home">Home</a></li>
          <li><a href="/help">Help</a></li>

          <li ng-if="$root.currentUser"><a href="/my-account">Hello: {{ currentUser.profile.name }}</a></li>
          <li ng-if="$root.currentUser"><a href="/admin/dashboard">Admin Page</a></li>
          <li ng-if="$root.currentUser"><a href="#" ng-click="signOut()">Sign out</a></li>

          <li ng-if="!$root.currentUser"><a href="/sign-in">Sign In</a></li>
          <li ng-if="!$root.currentUser"><a href="/register">Register</a></li>
        </ul>
      </section>
    </nav>
  </div>
</template>
